
#boardContainer{
    display: flex;
    flex-direction: column;
    cursor: default;
}

.row{
    display: flex;
}

.cell{
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    background-color: lightgreen;
    visibility: visible;
    color: black;
    justify-content: center;
}

.cell.cover{
    visibility: visible;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    background-color: green;
    color: green;
    
}

.cell.mine {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    background-color: red;
    color: black;
}

.cell.mine.cover {
    visibility: visible;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    background-color: green;
    color: green;
}

.cell.blank {
    visibility: visible;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    background-color: lightgreen;
    color: green;
}

.cell.cover.flag{
    background-image: url(Flag.png);
    background-size: contain;
}

.cell.cover.mine.flag{
    background-image: url(Flag.png);
    background-size: contain;
}
